<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>普通子弹打击效果.psd_Psd.Dir/图层 1.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>普通子弹打击效果.psd_Psd.Dir/图层 2.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>刀砍光效.psd_Psd.Dir/图层 6.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>刀砍光效.psd_Psd.Dir/图层 5.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>普通打击光效.psd_Psd.Dir/图层 2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>普通打击光效.psd_Psd.Dir/图层 1.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>普通打击光效.psd_Psd.Dir/图层 3.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>普通打击光效.psd_Psd.Dir/图层 4.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>commoneffect0.png</string>
			<key>realTextureFileName</key>
			<string>commoneffect0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>